<header>
  <mat-toolbar color="primary">
    <div class="btn-links">
      <button mat-stroked-button 
        matTooltip="Перейти на главную" 
        matTooltipPosition="below"
        routerLink="dashboard">
        <mat-icon>home</mat-icon>
        Главная
      </button>

      <button mat-stroked-button
        routerLink="history"
        matTooltip="Перейти в историю" 
        matTooltipPosition="below">
        <mat-icon>history</mat-icon>
        История
      </button>

      <button mat-stroked-button
        routerLink="category"
        matTooltip="Перейти к категориям" 
        matTooltipPosition="below">
        <mat-icon>label</mat-icon>
        Категории
      </button>
    </div>

    <button class="btn-add" 
      mat-raised-button 
      color="accent" 
      [matMenuTriggerFor]="addMenu" 
      matTooltip="Добавить операцию или категорию" 
      matTooltipPosition="below">
      <mat-icon>add</mat-icon>
      Добавить
    </button>

    <mat-menu #addMenu="matMenu">
      <button mat-menu-item (click)="openTransactionForm()">
        <mat-icon color="primary">receipt</mat-icon>
        <span>Операцию</span>
      </button>
      
      <button mat-menu-item (click)="openCategoryForm()">
        <mat-icon color="accent">category</mat-icon>
        <span>Категорию</span>
      </button>
    </mat-menu>

    <mat-chip-row color="accent" selected class="balance-chip">
      <mat-icon matChipAvatar>account_balance_wallet</mat-icon>
      <div class="balance-info-chip">
          <span class="balance-label-chip">Остаток: </span>
          <span class="balance-value-chip">{{ (balance$ | async) }} ₽</span>
      </div>
    </mat-chip-row>
  </mat-toolbar>
</header>
<mat-divider></mat-divider>
