.btn-add {
    margin-left: auto;
}
.balance-chip {
    margin-left: 15px;
}

.btn-links {
    display: flex;
    gap: 9px;
}

::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface {
  white-space: nowrap !important;
  max-width: none !important;    
}